@font-face {
  font-family: "Open Sans";
  src:
    url("../fonts/OpenSans-Regular.woff2"), url(../fonts/OpenSans-Regular.woff);
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Bold.woff2"), url(../fonts/OpenSans-Bold.woff);
}
@font-face {
  font-family: "Open Sans";
  src:
    url("../fonts/OpenSans-SemiBold.woff2"),
    url(../fonts/OpenSans-SemiBold.woff);
}
@font-face {
  font-family: "Archivo Black";
  src:
    url(../fonts/ArchivoBlack-Regular.woff2),
    url(../fonts/ArchivoBlack-Regular.woff);
}
body {
  background-color: #111111;
  max-width: 100%;
  color: #ffffff;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-size: 18px;
  margin: 0;
  box-sizing: border-box;
}

h1,
h2,
h4 {
  font-family: "Archivo Black", sans-serif;
  margin-top: 0;
}
.header {
  padding: 40px 120px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}
.header__content {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.header__title {
  font-size: 72px;
  margin: 0;
}
.header__subtitle {
  color: rgba(255, 255, 255, 0.5);
  margin-top: 15px;
}
.header__bio {
  line-height: 1.5;
  margin-bottom: 10px;
  margin-top: 30px;
}
.header__image {
  max-width: 387px;
  height: 500px;
  flex-shrink: 0;
  object-fit: cover;
}
.nav__links {
  display: flex;
  flex-direction: row;
  gap: 30px;
  list-style: none;
  padding: 0;
  margin: 0;
}
.nav__link {
  text-decoration: none;
  font-weight: 600;
  cursor: pointer;
}
.nav__link--gradient {
  position: relative;
  text-decoration: none;
}
.nav__link--gradient::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 4px;
  background: linear-gradient(90deg, #6f2cf5, #2c87f5);
  border-radius: 2px;
}
.nav__link:hover {
  color: rgba(255, 255, 255, 0.5);
}
.skills {
  padding: 0 120px;
  margin: 110px 0 100px;
}
.skills__content {
  margin-top: 50px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.skills__title {
  font-size: 40px;
}
.skills__icon {
  width: 50px;
}
.projects {
  padding: 0 120px;
}
.projects__title {
  font-size: 40px;
}
.projects__grid {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}
.project-card {
  background-color: #1c1c1c;
  display: flex;
  flex-direction: column;
  width: 590px;
  height: 670px;
}
.project-card__header {
  position: relative;
}
.project-card__image {
  width: 590px;
  height: 330px;
}
.project-card__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.5), transparent);
  pointer-events: none;
}
.project-card__tech {
  position: absolute;
  bottom: 15px;
  left: 15px;
  display: flex;
  gap: 5px;
}

.project-card__tech-icon {
  width: 40px;
  height: 40px;
  height: auto;
}

.project-card__content {
  padding: 30px 25px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 560px;
}

.project-card__title {
  font-size: 24px;
  font-weight: bold;
  margin: 0 0 20px 0;
}

.project-card__description {
  margin: 0;
}

.project-card__links {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: auto;
  padding-top: 30px;
  display: flex;
  gap: 25px;
}
.project-card__link-icon {
  max-width: 132px;
  height: 22px;
}
.footer {
  width: 100%;
  position: relative;
  overflow: visible;
}
.footer__glow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  height: 300px;
  background:
    radial-gradient(circle, rgba(111, 44, 245, 0.3) 0%, rgba(0, 0, 0, 0) 70%),
    radial-gradient(circle, rgba(44, 135, 245, 0.2) 0%, rgba(0, 0, 0, 0) 70%);
  z-index: 0;
  pointer-events: none;
}
.footer__content {
  position: relative;
  margin-top: 100px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
}
.footer__title {
  font-size: 40px;
  margin: 0;
}
.email {
  color: #6d6dff;
  text-decoration: none;
  margin: 20px 0 30px;
}
.footer__email:hover {
  text-decoration: underline;
}
.footer__socials {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  gap: 80px;
  justify-content: center;
}

.footer__social-icon {
  width: 24px;
  height: auto;
}
@media screen and (max-width: 1024px) {
}
@media screen and (max-width: 767px) {
  .header__image {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
